<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locadora</title>
</head>
<body>
    <header>
        <h2>Locadora</h2><hr>
    </header>
    <main>
        <h3>Alugar filme</h3>
        <form action="/view" method="POST">
            <h5>Filme</h5>
            <div style="margin-bottom: 1%;">
                <label for="movie_title_i">Titulo: </label>
                <input type="text" name="movie_title_i" id="movie_title_i">
            </div>
            <div style="margin-bottom: 1%;">
                <label for="movie_code_i">Código: </label>
                <input type="number" name="movie_code_i" id="movie_title_i">
            </div>
            <h5>Cliente</h5>
            <div style="margin-bottom: 1%;">
                <label for="client_name_i">Nome: </label>
                <input type="text" name="client_name_i" id="client_name_i">
            </div>
            <div style="margin-bottom: 1%;">
                <label for="client_id_i">CPF: </label>
                <input type="number" name="client_id_i" id="client_id_i">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </main>
</body>
</html>
