<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locadora</title>
</head>
<body>
    <h3>Apagar Registro</h3>
    <form action="/view" method="POST">
        <h5>Digite o CPF do cliente para apagar o resgistro</h5>
        <div style="margin-bottom: 1%;">
            <label for="client_id_d">CPF: </label>
            <input type="number" name="client_id_d" id="client_id_d">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>
